@import '../../styles/variables';

.banner {
    // background: #423bb6 url(/static/media/CMR-bg2.5867fa28.jpg) no-repeat;
    background: rgb(66, 59, 182) url("../../Assets/CMR-bg2.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: $white;
}